$color-transparent: transparent;
$color-default-white: #ffffff;
$color-default-black: #000000;

$main-color: #eff7ff;
$second-color: #b0db1f;
$button-color: #0a71cc;
$light-text: #737373;
$light-text-gray-700: #787a80;
$dark-text: #1e212c;

$main-font: 'Montserrat', 'Arial', sans-serif;
