.custom-swiper {
  margin: 0 0 170px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1224px;
    margin: 0 auto;
    background-color: $color-default-white;
  }

  &__help-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $button-color;
    margin: 0 0 8px;
  }

  &__title {
    color: $dark-text;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.125rem;
    margin: 0 0 50px;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    min-height: 344px;
    box-shadow: 0px 0px 15px rgba(0, 36, 88, 0.15);
    border-radius: 20px;
    max-width: 1020px;
    margin: 0 auto;
    padding: 64px 105px;
  }

  &__item-text {
    position: relative;
    padding: 0 0 0 58px;
    margin: 0;
  }

  &__item-braces {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__avatar-wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin: 0 0 0 58px;
  }

  &__avatar-img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: $light-text;
  }

  &__avatar-text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 4px;
  }

  &__avatar-name {
    margin: 0;
    color: $dark-text;
    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
  }

  &__avatar-theme {
    margin: 0;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
    color: $light-text-gray-700;
  }

  & .swiper {
    margin: 0;
  }

  & .swiper-wrapper {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 0 40px;
  }

  & .swiper-slide {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 20px 221px;
  }

  & .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    column-gap: 20px;
  }

  & .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    background-color: #b3b7bc;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  & .swiper-pagination-bullet-active {
    background-color: #1e212c;
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: $dark-text;
    cursor: pointer;
    background-color: $color-transparent;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: $color-default-white;
      background-color: $second-color;
    }
  }

  & .swiper-button-disabled {
    background-color: $color-transparent;
    color: $dark-text;

    &:hover {
      cursor: auto;
      background-color: $color-transparent;
      color: $dark-text;
    }
  }

  & .swiper-button-next {
    position: absolute;
    left: 50%;
    /* right: 117px; */
    top: 50%;
    transform: translate(600px, -50%);
  }

  & .swiper-button-prev {
    position: absolute;
    left: 50%;
    /* left: 117px; */
    top: 50%;
    transform: rotate(180deg) translate(624px, 50%);
  }
}
